 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("images/10.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  width: 841px;
  margin: 110px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(#3ebfbc, white);
  text-transform: uppercase;
  font-weight: 700;
  border-style: solid;
  font-size: 1.25rem;
  margin: 323px -50px -12px;
  padding: 10px 538px;
}

.u-section-1 .u-icon-1 {
  font-size: 2.75em;
  margin-right: 33px;
  vertical-align: -8px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 550px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-btn-1 {
    --radius: 50px;
    margin: 319px -158px -9px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 629px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 320px;
    margin-left: -50px;
    margin-right: -50px;
    padding-right: 329px;
    padding-left: 328px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 472px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.3823529411764706rem;
    width: 340px;
    margin-top: 59px;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 137px;
    padding-left: 137px;
    margin: 301px -49px 0;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1078px;
}

.u-section-2 .u-shape-1 {
  width: 368px;
  height: 368px;
  background-image: none;
  margin: 150px auto 0 calc(((100% - 1140px) / 2)  + 243px);
}

.u-section-2 .u-image-1 {
  width: 627px;
  height: 493px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(62,191,188,0.4);
  margin: -260px calc(((100% - 1140px) / 2)  + 19px) 0 auto;
}

.u-section-2 .u-image-2 {
  width: 457px;
  height: 369px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
  margin: -122px 0 0 auto;
}

.u-section-2 .u-group-1 {
  width: 527px;
  min-height: 483px;
  height: auto;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -635px auto 212px 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 40px 0 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  align-self: center;
  background-image: none;
  margin: 38px auto 0 0;
  padding: 20px 46px 20px 44px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-shape-1 {
    margin-left: calc(((100% - 940px) / 2)  + 206px);
  }

  .u-section-2 .u-image-1 {
    width: 495px;
    height: 319px;
    margin-right: calc(((100% - 940px) / 2)  + 19px);
  }

  .u-section-2 .u-image-2 {
    width: 331px;
    height: 279px;
  }

  .u-section-2 .u-group-1 {
    width: 432px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-shape-1 {
    margin-left: calc(((100% - 720px) / 2)  + 14px);
  }

  .u-section-2 .u-image-1 {
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    width: 406px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1010px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 405px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -54px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 731px;
  }

  .u-section-2 .u-shape-1 {
    height: 251px;
    width: 251px;
  }

  .u-section-2 .u-image-1 {
    width: 277px;
    height: 218px;
    margin-top: -232px;
  }

  .u-section-2 .u-image-2 {
    width: 265px;
    height: 223px;
    margin-top: 103px;
  }

  .u-section-2 .u-group-1 {
    width: 314px;
    margin-top: -541px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 20px;
    padding-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 400px;
  background-image: url("images/2025-05-1719.45.23.jpg");
  background-position: 0% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 5px 5px 8px rgba(62,191,188,1);
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-image-1 {
    min-height: 330px;
    background-size: cover;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 27px;
    margin-right: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-3 .u-image-1 {
    min-height: 253px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 480px;
  }

  .u-section-3 .u-image-1 {
    min-height: 380px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-3 .u-image-1 {
    min-height: 239px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 118px;
}

.u-section-4 .u-icon-1 {
  width: 79px;
  height: 79px;
  margin: 20px auto;
  padding: 5px;
}